@import url(https://fonts.google.com/share?selection.family=Protest+Riot);

html {
  scroll-behavior: smooth;
}
* {
  background-color: #1a5599;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Protest+Riot", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contenedor-header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  gap: 100px;
}
.navbar {
  max-width: auto;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.logo {
  font-family: "Protest+Riot", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
  color: rgb(57, 180, 218);
  text-decoration: none;
  width: 20%;
}
.navbar .lista {
  width: 75%;
}
.contenedor-header header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.contenedor-header header nav ul li a {
  text-align: none;
  color: #fff;
  margin: 0 15px;
  font-size: 18px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}
.contenedor-header header nav ul li a:hover {
  color: rgb(57, 180, 218);
}
.nav-responsivo {
  display: none;
  cursor: pointer;
}

input {
  display: none;
}
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
main > section > div > div {
  width: 120px;
}
main > section > div > div > img {
  width: 100%;
  border: 5px solid rgb(57, 180, 218);
}
.inicio .contenido-banner h1 {
  margin-top: 30px;
  font-size: 25px;
  color: #fff;
}
.inicio .contenido-banner h3 {
  font-size: 14px;
  color: #fff;
}

.sobremi {
  color: #fff;
  padding: 20px 20px;
  border-top: 2px solid rgb(13, 129, 165);
  gap: 100px;
}
.sobremi .contenido-seccion {
  max-width: 1600px;
  margin: auto;
}
.sobremi h2 {
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
}
.sobremi .contenido-seccion p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}
.sobremi .contenido-seccion p span {
  color: rgb(57, 180, 218);
  font-weight: bold;
  font-size: 18px;
}
.sobremi .fila {
  display: flex;
}
.sobremi .fila .col {
  width: 750px;
}
.sobremi .fila .col h3 {
  font-size: 18px;
  font-family: "Protest+Riot" Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  margin: 15px;
}
.sobremi .fila .col ul {
  list-style: none;
}
.sobremi .fila .col ul li {
  margin: 12px 0;
}
.sobremi .fila .col ul li {
  padding: 3px;
  border-radius: 5px;
  font-size: 14px;
}
.sobremi .fila .col ul li strong {
  display: inline-block;
  color: rgb(57, 180, 218);
  width: 400px;
}
.myskills {
  color: #fff;
  padding: 20px 20px;
  border-top: 2px solid rgb(13, 129, 165);
  gap: 100px;
  max-width: 1600px;
  margin: auto;
}
.myskills h2 {
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
}
.myskills ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  font-family: "Protest+Riot", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  gap: 15px;
  margin-top: 20px;
}
.myskills ul li {
  padding: 8px;
  border-radius: 10px;
  border-style: dashed;
  border-color: #fff;
}
.myskills ul li p {
  color: rgb(57, 180, 218);
  font-weight: bold;
  font-size: 18px;
}
.myskills ul li p strong {
  color: #fff;
  margin: 40px;
}
.projects {
  color: #fff;
  padding: 20px 20px;
  border-top: 2px solid rgb(13, 129, 165);
  gap: 100px;
  max-width: 1600px;
  margin: auto;
}
.projects h2 {
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
}
.projects ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects ul li {
  position: relative;
  max-width: 350px;
  margin: 10px;
  gap: 10px;
}
.projects ul li img {
  width: 100%;
  display: block;
  cursor: pointer;
}
.projects ul li h3 {
  color: rgb(57, 180, 218);
  font-weight: bold;
  font-size: 18px;
  margin-left: 100px;
  transition: 0.5s;
  cursor: pointer;
}
.projects ul li h3:hover {
  color: rgb(126, 199, 221);
}
.projects ul li p {
  font-size: 12px;
}
.projects ul li a {
  color: #fff;
  transition: 0.5s;
}
.projects ul li a:hover {
  color: rgb(52, 158, 52);
}
footer {
  border-top: 2px solid rgb(13, 129, 165);
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 10px;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
footer ul li a {
  text-align: none;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
footer p {
  text-align: center;
  font-size: 13px;
}
@media screen and (max-width: 800px) {
  .logo {
    font-size: 30px;
    font-weight: bold;
  }
  .lista .main-nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    display: none;
  }
  .nav-responsivo {
    display: block;
  }
  #chkToggle:checked .main-nav {
    display: block;
  }
}
